altgraph==0.12
appnope==0.1.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.4.1
certifi==2016.2.28
crypto==1.4.1
cycler==0.10.0
dask==0.8.1
decorator==4.0.9
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.3
django-allauth==0.23.0
django-cors-headers==1.1.0
django-suit==0.2.15
Flask==0.10.1
functools32==3.2.3.post2
gi==1.2
gmpy2==2.0.7
gnureadline==6.3.3
gunicorn==19.3.0
ipython==4.1.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
lxml==3.5.0
macholib==1.7
MarkupSafe==0.23
matplotlib==1.5.1
mercurial==3.5.2
modulegraph==0.12.1
mpld3==0.2
mpmath==0.19
Naked==0.1.31
networkx==1.11
nltk==3.1
numpy==1.11.0
oauthlib==1.0.1
pandas==0.18.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
Pillow==3.1.1
ptyprocess==0.5.1
py2app==0.9
pycrypto==2.6.1
pyenchant==1.6.6
pylab==0.1.3
pymongo==3.2.2
pyparsing==2.1.1
python-dateutil==2.5.3
python-openid==2.2.5
python-pptx==0.5.8
pytz==2016.4
PyYAML==3.10
pyzmq==15.2.0
requests==2.7.0
requests-oauthlib==0.5.0
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.0
seaborn==0.7.0
shellescape==3.4.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
SpeechRecognition==3.3.3
static3==0.6.1
sympy==1.0
toolz==0.7.4
tornado==4.3
traitlets==4.2.1
urllib3==1.7.1
virtualenv==13.1.2
Werkzeug==0.11.4
XlsxWriter==0.8.4
